/*List of fonts used in this web page*/
@font-face {
  font-family: "Raleway-Regular";
  src: url("polices/Raleway-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header,
main {
  margin: 0% 3%; /*marge sur les côtés*/
  width: 94%;
}
body {
  font-family: "Raleway-Regular", "Verdana, sans-serif"; /* utilisation des polices sur la totalité de la page */
  font-size: 100%; /* nota bene 100% = 16px  - Ailleurs mettre combien de rem - par ex au lieu de 32px mettre 2rem */
  margin: 0px;
}
#Reservia {
  display: none;
}
.title1 {
  margin-top: 40px;
}
h4 {
  display: inline;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bolder;
}
/* Nav bar */
nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-right: 5%;
}
.navlodging {
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  padding: 7% 0%;
  border-top: solid 2px white;
  transition: 0.2s ease-in-out;
}
.navlodging:hover {
  border-top: solid 2px #0065fc;
  color: #0065fc;
}
.navactivities {
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  padding: 7% 0%;
  border-top: solid 2px white;
  transition: 0.2s ease-in-out;
}
.navactivities:hover {
  border-top: solid 2px #0065fc;
  color: #0065fc;
}
.navlogin {
  font-size: 1.1em;
  color: #0065fc;
  text-decoration: none;
  padding: 7% 0%;
  border-top: solid 2px white;
  transition: 0.2s ease-in-out;
}
.navlogin:hover {
  border-top: solid 2px #0065fc;
  font-weight: bold; /* end of Nav bar*/
}
/* Filters section*/
.filters_container {
  display: flex;
}
.filters_title {
  margin-top: 22px;
  margin-right: 20px;
}
.filters i {
  background-color: rgba(0, 65, 232, 0.1);
  border-radius: 50px;
  padding: 15px;
  color: #0065fc;
  transition: 0.2s ease-in-out;
}
/* This icon didn't make a circle so it has its own padding*/
#child {
  padding: 15px 17px;
}
.filters i:hover {
  transform: scale(1.2);
}
.filters {
  text-decoration: none;
  border: 2px solid;
  border-color: #f2f2f2;
  padding: 0px 10px 0px 0px;
  border-radius: 30px;
  float: left;
  margin: 10px;
}
.filters-text {
  padding: 0 10px;
}
.filters-text:hover {
  color: #0065fc;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: blink;
}
h1 {
  font-size: 20px;
}
h3 {
  font-size: 14px;
  font-weight: 100;
}
.searchbar {
  display: flex;
  height: 42px;
}
.marker {
  background-color: #f2f2f2;
  border-radius: 12px 0px 0px 12px;
  padding: 12px 20px 11px 20px;
}
#pholder {
  width: 170px;
  height: 42px;
  padding-left: 15px;
  text-align: center;
  font-size: 1.1em;
  padding: 13px;
  border: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  font-family: "Raleway-Regular";
}

.searchbtn {
  text-decoration: none;
  padding: 12px 12px 12px 15px;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border-radius: 0 12px 12px 0;
}
#magnifying {
  display: none;
}
::placeholder {
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.lodge {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.lodge i {
  color: #0065fc;
  height: 20px;
  width: 20px;
  border: 3px solid #f2f2f2;
  text-align: center;
  border-radius: 35px;
  padding: 8px 6px 4px 6px;
}
.lodge p {
  margin-left: 10px;
  font-weight: 100;
}
.container {
  display: flex;
  width: 100%;
  height: 665px;
}
.lodg-title {
  font-size: 0.9em;
}
.lodging-container {
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  padding: 15px 20px 10px 20px;
  width: 74%;
  height: 100%;
}
.lodging-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 85%;
}
.lodging {
  width: 23%;
  height: 43%;
  background: white;
  border-radius: 15px;
  padding: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 0px 40px;
}
.lodging:hover {
  transform: scale(1.1);
}
.lodging-img {
  width: 100%;
  object-fit: cover;
  height: 70%;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
.btn {
  font-weight: 600;
  cursor: pointer;
}
.blue {
  color: #0065fc;
  font-size: 0.7em;
}
.grey {
  color: #f2f2f2;
  font-size: 0.7em;
}
.star {
  margin-top: 3px;
}
.stars {
  margin-top: 10%;
}
.stars1 {
  margin-top: 10%;
}
.popular-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3em;
}
.popular-container {
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  padding: 15px 20px 10px 20px;
  width: 26%;
  height: 100%;
  margin-left: 3%;
}
.popular-wrapper {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
}
.popular-container i.fa-chart-line {
  color: black;
}
.popular-article {
  width: 98%;
  height: 123px;
  background: white;
  border-radius: 15px;
  padding: 2px;
  margin: 7% 0%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.popular-article:hover {
  transform: scale(1.1);
}
.popular-img {
  width: 30%;
  height: 122px;
  border-radius: 15px 0px 0px 15px;
  float: left;
  padding-right: 20px;
}
.activities {
  margin-top: 3%;
}
.activities-container {
  height: 500px;
}
.activities-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.big-activities {
  width: 18%;
  height: 99.2%;
  border: 2px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 0px 5px 3px #f2f2f2;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.big-activities:hover {
  transform: scale(1.05);
}
.medium-container {
  display: flex;
  width: 20%;
  height: 100%;
}
.medium-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.medium-activities {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  height: 47%;
  border: 2px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 0px 5px 3px #f2f2f2;
}
.thin {
  height: 30%;
}
.medium {
  height: 38%;
}
.medium-activities:hover {
  transform: scale(1.05);
}
.legende {
  text-align: left;
  padding: 10px;
}
.legende2 {
  padding: 12px 15px 0px 15px;
}
.pomegues {
  object-fit: cover;
  width: 100%;
  height: 79%;
  border-radius: 10px 10px 0px 0px;
}
.vieux {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 90%;
}
.frioul {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 68%;
}
.national {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 90%;
}
.notre_dame {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 76%;
}
.longchamps {
  object-fit: cover;
  width: 100%;
  height: 76%;
  border-radius: 10px 10px 0px 0px;
}
.footer-container {
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 5%;
  width: 100%;
}
.about-us {
  margin-left: 50px;
  margin-top: 20px;
  width: 25%;
}
.lodgings {
  margin-top: 20px;
  width: 25%;
}
.help {
  margin-left: 50px;
  margin-top: 20px;
  width: 25%;
}
footer ul {
  margin-bottom: 20px;
  list-style-type: none;
  padding: 0px;
}
footer li {
  margin: 12px 0px;
}
@media screen and (max-width: 1440px) {
  nav {
    width: 32%;
  }
  .Reservia {
    width: 9%;
  }
  .title1 {
    margin-top: 50px;
    font-size: 1.8em;
  }
  .searchbar {
    height: 56px;
  }
  .marker {
    margin-left: 10px;
    padding: 16px 25px;
    font-size: 1.3em;
  }
  #pholder {
    font-size: 1.3em;
    font-weight: 100;
    width: 302px;
    padding: 26px 50px 26px 0px;
  }
  ::placeholder {
    font-size: 1.1em;
  }
  .searchbtn {
    font-size: 20px;
    padding: 15px 12px 0px 15px;
  }
  .filters_title {
    font-size: 1.6em;
    margin-left: 14px;
  }
  .filters i {
    font-size: 1.5em;
  }
  .filters {
    border: 3px solid #f2f2f2;
    padding: 0px 9px 0px 0px;
  }
  .filters-text {
    font-size: 1.1em;
    font-weight: 600;
  }
  h3 {
    font-size: 1.5em;
    margin-left: 10px;
  }
  .lodge {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .lodge i {
    height: 15px;
    width: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 31px;
    padding: 4px 4px 4px 4px;
    margin-left: 14px;
  }
  .lodge p {
    font-size: 1.5em;
  }
  .container {
    height: 532px;
  }
  .lodg-title {
    font-size: 1.3em;
  }
  h1 {
    font-size: 1.1em;
    margin-left: 6px;
  }
  .lodging-wrapper {
    padding: 10px;
    height: 80%;
  }
  .btn {
    font-size: 1.1em;
  }
  .lodging {
    height: 45%;
    padding: 5px 5px 7px 5px;
    margin: 0px 15px;
  }
  .lodging:hover {
    transform: scale(1.1);
  }
  .lodging-img {
    height: 62%;
  }
  .popular-title {
    font-size: 1.1em;
  }
  .popular-img {
    width: 40%;
    height: 109px;
  }
  .popular-wrapper {
    height: 90%;
  }
  .popular-article {
    height: 109px;
  }
  .star {
    margin-top: 1%;
  }
  .stars {
    margin-top: 5%;
  }
  .stars1 {
    margin-top: 5%;
  }
  .activities {
    margin-top: 7%;
  }
  .activities-container {
    height: 450px;
  }
  .big-activities {
    border-radius: 25px;
    width: 22%;
  }
  .vieux {
    border-radius: 25px 25px 0px 0px;
  }
  .national {
    border-radius: 25px 25px 0px 0px;
  }
  .medium-container {
    width: 22%;
  }
  .medium-activities {
    border-radius: 25px;
  }
  .thin {
    height: 30%;
  }
  .pomegues {
    height: 80%;
    border-radius: 25px 25px 0px 0px;
  }
  .frioul {
    height: 70%;
    border-radius: 25px 25px 0px 0px;
  }
  .notre_dame {
    height: 77%;
    border-radius: 25px 25px 0px 0px;
  }
  .longchamps {
    height: 77%;
    border-radius: 25px 25px 0px 0px;
  }
  .legende {
    font-size: 1em;
    padding: 2%;
  }
  .legende2 {
    font-size: 0.9em;
  }
  .footer-container {
    margin-top: 6%;
  }
  h2 {
    font-size: 1em;
  }
  .about-us {
    margin-left: 50px;
    width: 33.3%;
  }
  .lodgings {
    width: 33.3%;
    margin-left: 50px;
  }
  .help {
    width: 33.3%;
  }
}
@media screen and (max-width: 1024px) {
  .title1 {
    font-size: 1.3em;
  }
  nav {
    width: 35%;
  }
  .navlodging {
    font-size: 0.9em;
  }
  .navactivities {
    font-size: 0.9em;
  }
  .navlogin {
    font-size: 0.9em;
  }

  .searchbar {
    height: 42px;
  }
  .marker {
    margin-left: 10px;
    padding: 12px 20px;
    font-size: 1em;
  }
  #pholder {
    font-size: 1.1em;
    padding: 13px 13px 13px 15px;
    width: 170px;
  }
  ::placeholder {
    font-size: 0.8em;
    color: black;
  }
  .searchbtn {
    padding: 11px 10px 11px 15px;
    left: -10px;
    bottom: 1px;
    right: 10px;
  }
  .filters_title {
    font-size: 0.9em;
    margin-left: 14px;
  }
  .filters i {
    font-size: 0.8em;
  }
  .filters {
    border: 1px solid #f2f2f2;
  }
  .filters-text {
    padding: 5px;
    font-size: 0.8em;
  }
  h3 {
    font-size: 0.8em;
  }
  .lodge i {
    height: 15px;
    width: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 31px;
    padding: 4px 4px 4px 4px;
    margin-left: 14px;
  }
  .lodge p {
    font-size: 0.8em;
  }
  .container {
    height: 450px;
  }
  .lodg-title {
    font-size: 1em;
  }
  h1 {
    font-size: 1em;
    margin-left: 6px;
  }
  .btn {
    font-size: 0.8em;
  }
  .lodging {
    width: 25%;
    padding: 3px;
  }
  .lodging:hover {
    transform: scale(1.1);
  }
  .lodging-img {
    height: 68%;
  }
  .popular-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1em;
  }
  .popular-img {
    padding-right: 10px;
    height: 89px;
  }
  .popular-article {
    height: 89px;
    width: 97%;
  }
  .star {
    margin-top: 0%;
  }
  .stars {
    margin-top: 10%;
  }
  .stars1 {
    margin-top: 10%;
  }
  .activities-container {
    height: 350px;
  }
  .big-activities {
    width: 20%;
  }
  .vieux {
    border-radius: 23px 23px 0px 0px;
  }
  .national {
    border-radius: 23px 23px 0px 0px;
  }
  .medium-container {
    width: 23%;
  }
  .pomegues {
    border-radius: 23px 23px 0px 0px;
  }
  .frioul {
    border-radius: 23px 23px 0px 0px;
  }
  .notre_dame {
    height: 77%;
    border-radius: 23px 23px 0px 0px;
  }
  .longchamps {
    height: 77%;
    border-radius: 23px 23px 0px 0px;
  }
  .legende {
    font-size: 0.7em;
  }
  .legende2 {
    padding: 6px 15px 0px 15px;
    font-size: 0.8em;
  }
  .footer-container {
    margin-top: 30px;
  }
  h2 {
    font-size: 1em;
  }
  .about-us {
    margin-left: 50px;
    width: 33.3%;
  }
  .lodgings {
    width: 33.3%;
    margin-left: 50px;
  }
  .help {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .Reservia {
    width: 13%;
  }
  .title1 {
    font-size: 1.3em;
  }
  .marker {
    margin-left: 0px;
    padding: 12px 20px;
    font-size: 1em;
  }
  #pholder {
    font-size: 1.1em;
    padding: 13px 13px 13px 15px;
    width: 170px;
  }
  ::placeholder {
    font-size: 0.8em;
    color: black;
  }
  .searchbtn {
    padding: 11px 10px 11px 15px;
    left: -10px;
    bottom: 1px;
    right: 10px;
  }
  .filters_title {
    font-size: 0.9em;
    margin-left: 4px;
  }
  .filters i {
    font-size: 0.8em;
  }
  .filters {
    border: 1px solid #f2f2f2;
    margin: 5px;
  }
  .filters-text {
    padding: 5px;
    font-size: 0.8em;
  }
  h3 {
    font-size: 1em;
    margin-left: 4px;
  }
  .lodge {
    margin: 0px;
  }
  .lodge i {
    height: 15px;
    width: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 31px;
    padding: 4px 4px 4px 4px;
    margin-left: 0px;
  }
  .lodge p {
    font-size: 0.8em;
  }
  .container {
    height: 650px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .container:nth-child(1) {
    order: 2;
  }
  .container:nth-child(2) {
    order: 1;
  }

  .lodging-container {
    height: 55%;
    width: 90%;
    margin-top: 3%;
  }

  .lodg-title {
    font-size: 1em;
  }

  h1 {
    font-size: 1em;
    margin-left: 0px;
  }

  .lodging-wrapper {
    height: 75%;
  }

  .btn {
    font-size: 0.8em;
  }

  .lodging {
    width: 20%;
    height: 40%;
    padding: 3px;
    margin: 0px 15px;
    font-size: 0.8em;
  }

  .lodging:hover {
    transform: scale(1.1);
  }

  .lodging-img {
    height: 70px;
  }

  .popular-title {
    font-size: 1em;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .popular-img {
    width: 35%;
  }

  .popular-container {
    width: 90%;
    height: 25%;
    margin-left: 0%;
  }
  .popular-wrapper {
    flex-direction: row;
    justify-content: center;
    height: 85%;
  }

  .popular-article {
    width: 30%;
    height: 65%;
    margin: 0% 1%;
  }

  .stars1 {
    margin-top: 10%;
  }
  .activities {
    margin-top: 30px;
  }

  .big-activities {
    width: 24%;
    height: 98.8%;
  }

  .medium-container {
    width: 24%;
  }

  .legende2 {
    padding: 6px 10px 0px 10px;
    font-size: 0.7em;
  }

  .footer-container {
    margin-top: 30px;
  }

  h2 {
    font-size: 1em;
  }

  .about-us {
    margin-left: 32px;
    width: 256px;
  }

  .lodgings {
    width: 256px;
    margin-left: 32px;
  }

  .help {
    width: 256px;
    margin-left: 32px;
  }
}

@media screen and (max-width: 480px) {
  header {
    display: block;
    margin: 8% 0% 0% 0%;
    width: 100%;
  }

  main {
    margin: 0% 2%;
    width: 96%;
  }

  nav {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  /*it allows to reorganize the nav bar as we want*/
  nav :nth-child(1) {
    order: 1;
  }
  nav :nth-child(2) {
    order: 3;
  }
  nav :nth-child(3) {
    order: 4;
  }
  nav :nth-child(4) {
    order: 2;
  }
  .Reservia {
    display: none;
  }

  #Reservia {
    display: block;
    width: 20%;
    padding: 0% 30% 0% 0%;
  }

  .navlodging {
    font-size: 1.1em;
    width: 50%;
    border-bottom: solid 3px #f2f2f2;
    text-align: center;
    padding: 7% 0% 2% 0%;
  }

  .navactivities {
    font-size: 1.1em;
    width: 50%;
    border-bottom: solid 3px #f2f2f2;
    margin-right: 0px;
    text-align: center;
    padding: 7% 0% 2% 0%;
  }

  .navlogin {
    font-size: 1.2em;
    width: 35%;
    font-weight: bold;
    margin-right: 0px;
    padding: 0%;
    text-align: right;
    margin-top: 2%;
  }

  .navlodging:hover {
    border-top: none;
    border-bottom: solid 3px #0065fc;
  }

  .navactivities:hover {
    border-top: none;
    border-bottom: solid 3px #0065fc;
  }
  .marker {
    font-size: 1em;
    padding: 10px 20px;
    display: inline-block;
    height: 22px;
  }
  #pholder {
    width: 79%;
    padding: 0px;
    margin: 0px;
    padding-left: 5%;
  }
  .searchbtn {
    display: none;
  }
  .searchbar {
    width: 100%;
    justify-content: center;
  }
  #magnifying {
    display: inline-block;
    text-decoration: none;
    padding: 14px 13px 13px 13px;
    background-color: #0065fc;
    color: white;
    font-size: 15px;
    border-radius: 0px 12px 12px 0px;
  }

  ::placeholder {
    text-align: left;
    font-weight: bold;
  }
  .title1 {
    font-size: 1.5em;
    margin-top: 5%;
    width: 100%;
  }
  h3 {
    font-size: 1em;
    width: 100%;
  }

  .filters_title {
    font-size: 1.2em;
    width: 52%;
    margin-left: 21px;
    margin-top: 5px;
  }

  .filters_container {
    flex-wrap: wrap;
    width: 70%;
  }

  .filters i {
    font-size: 0.8em;
    padding: 10px;
  }

  .filters {
    border: 2px solid;
    border-color: #f2f2f2;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2%;
  }
  .fam {
    margin-left: 3%;
  }

  #child {
    padding: 10px 12px 10px 12px;
  }
  h2 {
    font-size: 1em;
  }

  .lodge {
    width: 100%;
  }
  .lodge i {
    margin-left: 15px;
  }

  .lodge p {
    margin-left: 9px;
    font-weight: 100;
    font-size: 0.9em;
  }

  .lodg-title {
    margin-left: 4%;
  }

  .container {
    width: 100%;
    height: auto;
  }

  .lodging-container {
    padding: 0px;
    height: auto;
    background-color: white;
    margin-top: 0px;
    width: 100%;
  }

  .lodging-wrapper {
    flex-direction: column;
    padding: 0px;
  }

  .btn {
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 2%;
  }

  .lodging {
    width: 90%;
    height: 150px;
    border: 2px solid #f2f2f2;
    box-shadow: 0px 3px 3px #f2f2f2;
    margin-bottom: 3%;
  }

  .lodging:hover {
    transform: scale(1.1);
  }

  .lodging-img {
    width: 100%;
    height: 93px;
  }
  .legende {
    font-size: 1em;
    padding: 2% 3% 3% 3%;
  }

  .popular-title {
    width: 90%;
    margin: 5% 0% 5% 4%;
  }

  .popular-img {
    width: 32%;
    height: 106px;
  }

  .popular-container {
    height: auto;
    width: 100%;
    margin-left: 0px;
    padding: 0px;
  }
  .popular-wrapper {
    flex-direction: column;
  }

  .popular-article {
    width: 90%;
    height: 31%;
    margin: 0% 1% 2%;
  }

  .stars {
    margin-top: 10%;
  }

  .stars1 {
    margin-top: 5%;
  }

  .activities {
    margin-top: 60px;
  }

  .activities-container {
    height: auto;
    width: 100%;
    margin-bottom: 5%;
  }
  .activities-wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .big-activities {
    width: 89%;
    margin-bottom: 3%;
  }

  .vieux {
    width: 100%;
    height: 110px;
  }

  .national {
    width: 100%;
    height: 110px;
  }

  .medium-container {
    align-items: center;
    width: 90%;
  }
  .medium-wrapper {
    justify-content: center;
  }

  .medium-activities {
    width: 99%;
    margin-bottom: 3%;
  }

  .pomegues {
    width: 100%;
    height: 110px;
    margin-top: 0px;
  }

  .frioul {
    width: 100%;
    height: 110px;
    margin-top: 0px;
  }

  .notre_dame {
    width: 100%;
    height: 110px;
    margin-top: 0px;
  }

  .longchamps {
    width: 100%;
    height: 110px;
    margin-top: 0px;
  }

  .legende2 {
    padding: 14px 8px 14px 8px;
    width: 95%;
  }

  .footer-container {
    margin-top: 0px;
    font-size: 1.1em;
    flex-direction: column;
  }

  footer ul {
    font-size: 0.8em;
  }

  .about-us {
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
  }

  .lodgings {
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .help {
    margin-left: 20px;
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .filters_container {
    width: 83%;
  }
}
